body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: ghostwhite;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 16px;
}

.nav-left{
    display: flex;
    background-color: bisque;
}

.nav-links{
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 16px;
    font-size: 20px;
}